<!-- <p class="pt-5">home works!</p>
<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'Open' : 'Closed' }}!</p>
  </div>

  <button class="btn" (click)="toggle()">
  Toggle  
  </button> -->
<!--Main Navigation-->
<header class="intro-header">


  <!-- Intro Section -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(./../../assets/bg/bg_1.jpg);   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;">
    <div class="full-bg-img mask rgba-black-light">
      <div class="container flex-center">
        <div class="row pt-5 mt-3 w-100">
          <div class="col-md-6">
            <div class="text-left">
              <h2 @slideDown   class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown tittle"
                data-wow-delay="0.3s"><strong>
                  Mzanzi <br> College <br> Challenge
                </strong></h2>
                <!-- <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s"> -->
                <h5 @slideUp class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>World of College
                    Football</strong></h5>
    
            </div>
          </div>
          <div class="col-md-6 ">
            <img @slideinLeft class="landing_pic" src="./../../../assets/bg/landing.jpg" alt="">
          </div>
          <div class="col-md-12 text-center">
            <!-- <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s">
            <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>World of College
                Football</strong></h5> -->

          </div>

        </div>
      </div>
    </div>
  </div>

</header>
<!--Main Navigation-->

<div class="content_section">
<div class="container">
  <div class="row text-center">
    <div class="col-lg-12 text-center">
       <div class="glide" id="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
          </a>
        </li>
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
            </a>
        </li>
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
          </a>
        </li>
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
          </a>
        </li>
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
          </a>
        </li>
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
          </a>
        </li>
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
          </a>
        </li>
        <li class="glide__slide">
          <a href="/">
            <img src="./../../../assets/sponsors/sanbs.jpg" class="sponsors_logo" alt="">
          </a>
        </li>
      </ul>
    </div>
    
    <!-- <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div> -->
  </div>
    </div>
  </div>
</div>

</div>