@import 'abstracts/variables';
@import 'abstracts/functions';
// @import 'abstracts/mixins';
// @import 'layout/grid';

:host {
  display: block;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}


// Header section
.intro-header {
  height: unset !important;
}

.view {
  height: 100vh !important;
  
    .tittle{
      font-size: 6em;
      text-align: left;
      font-family: Multi;  
      color: color(mcc_primary);
      padding-top: 0.3em;
    }

      .landing_link{
          text-align: left;
      }


      .landing_pic{
        position: relative;
      }
 }


// New section
.content_section{
  height: 100vh;

}



  .navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

h1 {
  letter-spacing: 8px;
  opacity: 0;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}




