@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';
// @import 'layout/grid';

:host {
  display: block;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}


// Header section
.intro-header {
  height: unset !important;
}

.view {
  background-color:#ffff;
 
  height: 100vh !important;
  @include onPhone{
    background-color: color(mcc_primary);
  }

  .tittle_div{

      .tittle{
            font-size: 8em;
            text-align: left;
            font-family: Multi;  
            color: color(mcc_primary_darken);
            // padding-top: 0.3em;
      

          @include onPhone{
            font-size: 3em;
            color: color(mcc_white);
            padding-top: 2em;
            // margin-top: -2em;
          }


        }
  }

      .landing_link{
          text-align: left;
      }

      .tittle_p_div{
          // border-left: solid 2px color(mcc_primary);
          .tittle_p{
            position: relative;
            color: color(mcc_light);
            // float: right;
            padding-top: 10em;
            // border-left: 2px solid color(mcc_primary);
            // background-color: color(mcc_primary);
            // display: block;

            @include onPhone{
              padding:0;
              color: color(mcc_white);
            }
          }
     
    }
      
 }


// New section
.content_section{
  // height: 100vh;
  background-color: whitesmoke ;
  padding: 2em;
  .glide{
    .sponsors_logo{
      height: 4em;
      width:auto;
    }
  }
}

.right_devider{
  position: absolute;
  background-color: color(mcc_primary);
  float:right;
}






  .navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

h1 {
  letter-spacing: 8px;
  opacity: 0;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}




