<!--Main Navigation-->
<header class="intro-header">

  <app-topnav></app-topnav>
   
  
    <!--/.Navbar-->
    <!-- Intro Section -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}'>
      <div class="full-bg-img mask rgba-black-light">
        <div class="container flex-center">
          <div class="row pt-5 mt-3 w-100">
            <div class="col-md-12">
              <div class="text-center">
                <h1 @slideDownFirst class="h1 
                h1-reponsive white-text text-center font-up font-bold mb-3 wow tittle fadeInDown" data-wow-delay="0.3s">
                Professional and academic integrated development
                                <!-- <h5 @slideUp class="text-left font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"> -->
                
                  <!-- A platform comes from a place of creating opportunities and showcasing talents from various facets of sports as a dynamic industry. -->
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </header>
  <!--Main Navigation-->


  <!-- !-- Section: content v.1 -->
<section class="text-center my-5 content">
  <div class="container">
    <div class="row" >
      <div class="col-lg-12 text-left pb-1">
        <h3 class="h4-responsive   pt-2 blue-grey-text">
          We Started With A Problem
        </h3>
        <!-- <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="h1-reponsive text-dark"> </h1>
            <p class="lead text-dark">In Collaboration.</p>
          </div>
        </div> -->

      </div>
    </div>

    <div class="row pt-5">
      <div class="col-lg-12 text-left pt-4 pb-1">
        <h3 class="offerings_tittle h3-reponsive  blue-text" >
              Discover all the solutions we offer
         </h3>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <p class="text-left text-muted">
          Companies use Contentful content hub software to aggregate all of their content in one place and easily update, audit or share it on any platform. A centralized content hub platform helps teams easily revise and distribute content on the fly. Updates can go live in a matter of seconds, on every channel.
        </p>

        <p class="text-left text-muted">
          Companies use Contentful content hub software to aggregate all of their content in one place and easily update, audit or share it on any platform. A centralized content hub platform helps teams easily revise and distribute content on the fly. Updates can go live in a matter of seconds, on every channel.
        </p>
 
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <!-- <img src="./../../../assets/shapes/circle_svg.svg" alt=""> -->
      </div>

  </div>
  </div>
</section> 