<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="true">
  
  <mdb-navbar-brand><a class="navbar-brand" href="#">
    <img src="./../../../assets/logo/logo_updated.png" class="logo" alt="">
  </a></mdb-navbar-brand>

  <links>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" routerLink="/company" mdbWavesEffect>About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Tournament</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/MCCSouthAfrica" target="_blank">
          <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/mzanzicollegechallenge/?hl=en" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/mzanzicollegechallenge/" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
    </ul>
  </links>

</mdb-navbar>