<header class="header">
  <a class="menu_trigger">
    <i @slideinLeft class="fas fa-bars" (click)="openMenu();" type="button"></i>
    <!-- <img @slideDown src="./../../assets/logo/MCC.png" class="logo" alt=""> -->
  </a>

  <!-- <ul class="menu">
      <li><a href="#work">Our Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#careers">Careers</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul> -->
</header>


<div class="menu_overlay">

  <a class="menu_close">
    <i class="fas fa-times-circle" (click)="closeMenu();" type="button"></i>
    <!-- <img @slideDown src="./../../assets/logo/MCC.png" class="logo" alt=""> -->
  </a>
  <!-- <h2 class="greeting_overlay_tittle">MCC</h2> -->
  <!-- <img src="./../../assets/img/logo/MCC.png" class="greeting_overlay_logo" alt=""> -->
  <!-- <span>Brought to you by</span> -->
  <div class="container">
    <div class="row">

      <div class="col-12-lg menu_options">

        <h1 class="menu_option">
          Our Company
        </h1>
         <h1 class="menu_option">
           Partners
         </h1>
      
      </div>

    </div>

  </div>

</div>