<!--Navbar-->
<mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark unique-color">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">MCC</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a  dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect > 
                    Company<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light"  mdbWavesEffect href="#" routerLink="company">About Us</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Sponsors</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Events</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Campaigns</a>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Teams<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>News</a>
            </li>
       
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="share-square"></mdb-icon><span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="https://www.facebook.com/mzanzicollegechallenge/">
                        <mdb-icon fab icon="facebook-f"></mdb-icon> - facebook
                    </a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="https://twitter.com/MCCSouthAfrica">
                        <mdb-icon fab icon="twitter"></mdb-icon> - Twitter
                    </a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="https://www.instagram.com/mzanzicollegechallenge/?hl=en">
                        <mdb-icon fab icon="instagram"></mdb-icon> - Instagram
                    </a>
                </div>
            </li>

        </ul>
        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->


<router-outlet></router-outlet>