.greeting_overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: color(mcc_primary_dark);
  top: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.greeting_overlay .greeting_overlay_tittle {
  font-size: 50px;
  letter-spacing: 2px;
}

.greeting_overlay span {
  font-size: 17px;
  letter-spacing: 2px;
}

.greeting_overlay_logo {
  height: 15em;
  width: auto;
  opacity: 0;
  margin-bottom: -100px;
}

.wrapper {
  opacity: 0;
}

.left {
  position: absolute;
  height: 100%;
  width: 100%;
  background: color(mcc_light);
}

.left-strip {
  position: absolute;
  width: 1px;
  height: 100vh;
  background: #fff;
  left: 120px;
  opacity: .5;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
}

.logo,
.menu,
.categories,
.search,
.bag {
  position: absolute;
  padding: 10px;
  margin-top: 10px;
}

.logo {
  left: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.logo .reg {
  font-size: 14px;
  vertical-align: super;
}

.menu {
  left: 150px;
  line-height: 1.2;
  font-size: 20px;
}

.search,
.bag {
  background: #fff;
  color: #363A5D;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  margin-top: 18px;
}

.search {
  right: 180px;
}

.bag {
  right: 40px;
}

.categories {
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-bottom: 2px solid #fff;
  color: #363A5D;
  font-weight: 500;
}

.categories ul {
  list-style: none;
}

.categories ul li {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
}

.categories ul li:hover {
  cursor: pointer;
}

.media {
  position: absolute;
  left: -100px;
  top: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.media ul {
  list-style: none;
}

.media ul li {
  display: inline-block;
  font-weight: 500;
}

.media ul li:not(:last-child) {
  padding-right: 60px;
}

.size {
  position: absolute;
  left: 150px;
  bottom: 20px;
}

.size ul {
  list-style: none;
}

.size ul li {
  display: inline-block;
  font-weight: 500;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 50%;
  margin-left: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 1.5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.size ul li:hover {
  background: #fff;
  color: #363A5D;
}

.size span {
  font-weight: 500;
}

.size span::after {
  display: inline-block;
  content: "";
  border: .5px solid #fff;
  opacity: .5;
  width: 50px;
  margin: 0 0 0 10px;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.product-img {
  width: 300px;
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  -webkit-animation: fly 4s ease-in-out infinite;
          animation: fly 4s ease-in-out infinite;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

.product-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.product-title {
  font-size: 100px;
}

.product-title::after {
  content: ".";
  color: #363A5D;
}

.product-subtitle {
  font-size: 25px;
  font-weight: 500;
}

.dots {
  position: absolute;
  top: 43%;
  right: -25px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dot {
  display: inline-block;
  height: 7px;
  width: 7px;
  background: transparent;
  border: 2px solid #363A5D;
  border-radius: 50%;
  margin: 0 18px;
}

.dot:first-child {
  background: #363A5D;
  margin-left: 0;
}
/*# sourceMappingURL=home.component.css.map */