

 <div class="overlay">
  <h2 class="overlay_h2">MCC</h2>
  <span>Brought to you by</span>
</div>



<div class="wrapper">
  <div class="left"></div>
  <!-- <div class="right"></div> -->

  <div class="strips">
    <div class="left-strip"></div>
    <!-- <div class="right-strip"></div> -->
  </div>

  <div class="nav">
    <div class="logo">MCC<span class="reg">&reg;</span></div>

    <div class="menu"><i class="fa fa-bars"></i></div>

    <div class="categories">
      <ul>
        <li>Stats</li>
        <li> <a  routerLink="/ourcompany" > Company</a></li>
        <li>Sponsors</li>
      </ul>
    </div>

    <!-- <div class="search"><i class="fa fa-search"></i></div>

    <div class="bag"><i class="fa fa-shopping-bag"></i></div> -->
  </div>

  
  <div class="media">
    <ul>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Twitter</li>
    </ul>
  </div>

  <img class="product-img" src="./../../assets/img/logo/MCC.png" alt="">

  <div class="product-text">
    <!-- <h1 class="product-title">MCC</h1> -->
    <!-- <p class="product-subtitle">The Home College Football</p> -->
  </div>

</div>

