
  .greeting_overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    // background-color: ;
    background: color(mcc_primary_dark);
    top: 0%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

      // @include onPhone{
      //   height: 10px;
      // }
      

  }
  
  .greeting_overlay .greeting_overlay_tittle {
      font-size: 50px;
      letter-spacing: 2px;
      
  }
  
  .greeting_overlay span {
    font-size: 17px;
    letter-spacing: 2px;
  }
  

  .greeting_overlay_logo{
    height: 15em;
    width: auto;
    opacity: 0;
    margin-bottom: -100px;
  }


  .wrapper{
    opacity: 1 ;
    // height:100vh;
    // height: cal(var(--vh, 1vh) * 100);
    // margin: 0 auto;
    // max-width: 30%;
    
  }


    .left {
    position: absolute;
    height: 100%;
    width: 100%;
    background: color(mcc_light);
  }
  
  
  .left-strip {
    position: absolute;
    width: 1px;
    height: 100vh;
    background: #fff;
    left: 120px;
    opacity: .5;
  }
  
  
  .nav {
    position: fixed;
    width: 100%;
    height: 100px;
  }
  
  .logo, 
  .menu, 
  .categories, 
  .search, 
  .bag {
    position: absolute;
    padding: 10px;
    margin-top: 10px;
  }
  
  .logo {
    left: 20px;
    font-size: 20px;
    font-weight: bolder;
  }
  
  .logo .reg {
    font-size: 14px;
    vertical-align: super; 
  }
  
  .menu {
    left: 150px;
    line-height: 1.2;
    font-size: 20px;
  }
  
  .search,
  .bag {
    background: #fff;
    color: #363A5D;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    margin-top: 18px;
  }
  
  .search {
    right: 180px;
  }
  
  .bag {
    right: 40px;
  }
  
  .categories {
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid #fff;
    color: #363A5D;
    font-weight: 500;
  }
  
  .categories ul {
    list-style: none;
    
  }
  
  .categories ul li {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
  }
  
  .categories ul li:hover{
      cursor: pointer;
  }
  
  .media {
    position: absolute;
    left: -100px;
    top: 50%;
    transform: rotate(-90deg);
  }
  
  .media ul {
    list-style: none;
  }
  
  .media ul li {
    display: inline-block;
    font-weight: 500;
  }
  
  .media ul li:not(:last-child) {
    padding-right: 60px;
  }
  